/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

//body
//  font-family "Computer Modern Serif", serif
//  -webkit-font-smoothing antialiased
//  -moz-osx-font-smoothing grayscale
//  font-size 16px
//  color $textColor
//  

.theme-default-content code
  color unset
  background-color unset
  padding unset
  

.theme-default-content p, ul, ol
  line-height unset
  background-color: unset
